@model IEnumerable<MA101321.Models.libro>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anio_edicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.editorial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_autor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anio_edicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.editorial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor.nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
